/* CSS Document */

#header {
	border: solid 1px;
	color: red;
	
}
#globalnav nav {
	border: solid 1px;
	color: blue;
}
#navlist li {
	border: solif 1px;
	font-size: 300%;
	width: 20%;
	flex: 1 1;
	display: inline-block;
}
#navlist { /* ul */
	text-align: center;
	list-style: none;
	width: 65%;
	border: solid 1px purple;
	display: inline-block;
	
}
#navlist li a{
	text-decoration: none;
}